<div class="row">
    <div class="col-6">
        <button (click)="refresh()">REFRESH</button>
    </div>
    <div class="col-6 text-right">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>New</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <div ngbDropdownItem>
                    <a [routerLink]="'query/new'">Query</a>
                </div>
                <div ngbDropdownItem>
                    <a [routerLink]="'dataset/new'">Dataset</a>
                </div>
                <div ngbDropdownItem>
                    <a [routerLink]="'coordinates/new'">Coordinates</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>INPUT TYPE</th>
            <th>INPUT</th>
            <th>OWNER</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let analysis of analyses$ | async">
            <td>{{analysis.input.type}}</td>
            <td>{{analysis.input | json}}</td>
            <td>{{analysis.owner.username}}</td>
            <td>{{analysis.status}}</td>
            <td><a class="btn btn-outline-primary btn-sm" [routerLink]="analysis.input.type + '/view/' + analysis.id">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
