.sebm-google-map-container {
    height: 70vh;
    width: 100%;
}

.status, .resource, .nil-entity {
    &.active {
        opacity: 1;
    }

    &.inactive {
        opacity: 0.25;
    }
}

.tweets-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
