<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ng-content select=".space-left"></ng-content>
        </div>
        <div class="col">
            <ng-content select=".space-center"></ng-content>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-primary btn-sm" *ngIf="showCreateBtn" (click)="createAnalysis()">Create</button>
                    <button class="btn btn-outline-primary btn-sm" *ngIf="showStartBtn" (click)="startAnalysis()">Start</button>
                    <button class="btn btn-outline-primary btn-sm" *ngIf="showStopBtn" (click)="stopAnalysis()">Stop</button>
                    <button class="btn btn-outline-success btn-sm" *ngIf="showCompleteBtn" (click)="completeAnalysis()">Complete</button>
                    <button class="btn btn-outline-danger btn-sm" *ngIf="showCancelBtn" (click)="cancelAnalysis()">Cancel</button>
                </div>
                <div class="col-auto">
                    <ng-content select=".space-right"></ng-content>
                </div>
                <div class="col-auto">
                    <a [routerLink]=""
                       *ngIf="currentAnalysis"
                       [ngClass]="currentAnalysisStatusLabelClasses"
                       (click)="$event.preventDefault(); onStatusLabelClick()">
                        {{ currentAnalysis.status }}
                    </a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary btn-sm" *ngIf="currentAnalysis" (click)="openSettings()">Settings</button>
                </div>
            </div>

        </div>
    </div>
</div>
