<div class="multi-toolbars-container">
    <btw-analysis-toolbar
        [showCreateBtn]="showCreateBtn"
        [showStartBtn]="showStartBtn"
        [showStopBtn]="showStopBtn"
        [showCancelBtn]="showCancelBtn"
        [showCompleteBtn]="showCompleteBtn"
        (actionBtnClick)="onToolbarActionBtnClick($event)">
        <div class="space-left">
            <btw-query-input [query]="currentAnalysisQuery" (queryChange)="this.query = $event"></btw-query-input>
        </div>
    </btw-analysis-toolbar>
    <btw-results-toolbar>
        <div class="space-right">
            <btw-view-mode-switcher></btw-view-mode-switcher>
        </div>
    </btw-results-toolbar>
</div>
<router-outlet name="results-viewer"></router-outlet>
