<div class="row">
    <div class="col-6">
        <button (click)="refresh()">REFRESH</button>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>INPUT TYPE</th>
            <th>INPUT</th>
            <th>OWNER</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let analysis of analyses$ | async">
            <td>{{analysis.input.type}}</td>
            <td>{{analysis.input | json}}</td>
            <td>{{analysis.owner.username}}</td>
            <td>{{analysis.status}}</td>
            <td><a class="btn btn-outline-primary btn-sm" [routerLink]="analysis.input.type + '/view/' + analysis.id">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
