<div class="row">
    <div class="col">
        <tag-input
            [(ngModel)]="tokens"
            (onAdd)="onTagsChanged()"
            (onRemove)="onTagsChanged()"
            [modelAsStrings]="true"></tag-input>
    </div>
    <div class="col-auto">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="joiner" (change)="onTagsChanged()">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value=","> ANY
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value=" "> ALL
            </label>
        </div>
    </div>
</div>
