<div class="row">
    <div class="col">
        <btw-query-input (queryChange)="onQueryChange($event)" [query]="query"></btw-query-input>
    </div>
    <div class="col" *ngIf="showCreateButton">
        <button class="btn btn-sm btn-outline-primary" (click)="onCreateBtnClick()" name="create">Create</button>
    </div>
    <div class="col" *ngIf="showStartStopButton">
        <button class="btn btn-sm btn-outline-primary" (click)="onToggleAnalysisBtnClick()" name="start-stop">{{(currentAnalysis$ | async)?.status === 'running' ? 'Pause' : 'Start'}}</button>
    </div>
    <div class="col" *ngIf="showCompleteButton">
        <button class="btn btn-sm btn-outline-primary" (click)="onCompleteBtnClick()" name="complete">Complete</button>
    </div>
</div>
