<div class="row">
    <div class="col">
        <btw-query-input (queryChange)="onQueryChange($event)" [query]="query"></btw-query-input>
    </div>
    <div class="col" *ngIf="showCreateButton">
        <button (click)="onCreateBtnClick()" name="create">Create</button>
    </div>
    <div class="col" *ngIf="showStartStopButton">
        <button (click)="onToggleAnalysisBtnClick()" name="start-stop">{{(currentAnalysis$ | async)?.status === 'running' ? 'Stop' : 'Start'}}</button>
    </div>
    <div class="col" *ngIf="showResultsViewerButton">
        <button (click)="onToggleViewModeBtnClick();">{{currentViewMode === 'map' ? 'List' : 'Map'}}</button>
    </div>
</div>
